<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yahoo Fantasy Football MVP{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        {% if session.get('user_id') %}
        <div class="navbar">
            <div class="nav-home">
                <a href="{{ url_for('main.home') }}">Home</a>
            </div>
            <div class="nav-features">
                <a href="{{ url_for('main.waiver_wire') }}">Waiver Wire</a>
                <a href="{{ url_for('main.team_analyzer') }}">Team Analyzer</a>
                <a href="{{ url_for('main.trade_builder') }}">Trade Builder</a>
            </div>
            <div class="nav-logout-login-register">
                <a href="{{ url_for('main.logout') }}">Logout</a>
            </div>
        </div>
        <!-- <div class="navbar">
            <div class="nav-logout-login-register">
                <a href="{{ url_for('main.login') }}">Login</a>
                <a href="{{ url_for('main.register') }}">Create Account</a>
            </div>
        </div> -->
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>