<!-- app/templates/logout.html -->
{% extends "base.html" %}

{% block content %}
<p>Logging out...</p>
<script>
    // Redirect to Yahoo's logout page with a return URL
    // const yahooLogoutUrl = "https://login.yahoo.com/config/login?logout=1&.direct=1&.done={{ url_for('main.home', _external=True) }}";
    
    // Redirect to Yahoo logout
    // window.location.href = yahooLogoutUrl;

    // Check the URL every second to see if it has changed to Yahoo's site
    const checkUrlInterval = setInterval(function() {
        if (window.location.hostname === 'yahoo.com') {
            // Redirect back to the home page after a delay
            setTimeout(function() {
                window.location.href = "{{ url_for('main.home') }}";
            }, 5000); // Adjust the delay as needed (5000 milliseconds = 5 seconds)
            clearInterval(checkUrlInterval);
        }
    }, 1000); // Check every second (1000 milliseconds)
</script>
{% endblock %}