<!-- app/templates/logout.html -->
{% extends "base.html" %}

{% block content %}
<p>Logging out...</p>
<script>

    // Redirect to Yahoo's logout page with a return URL
    const yahooLogoutUrl = "https://login.yahoo.com/config/login?logout=1&.direct=1&.done={{ url_for('index', _external=True) }}";
    
    // Redirect to Yahoo logout
    window.location.href = yahooLogoutUrl;

    // After a delay, redirect back to the index page
    setTimeout(function() {
        window.location.href = "{{ url_for('index') }}";
    }, 5000); // Adjust the delay as needed (1000 milliseconds = 1 second)
</script>
{% endblock %}