{% extends "base.html" %}

{% block title %}Team Analyzer - Yahoo Fantasy Football MVP{% endblock %}

{% block content %}
<div class="container">
    <h1>Team Analyzer</h1>
    <p class="page-description">
        {% block description %}Use this page to evaluate the strengths and weaknesses of your fantasy team{% endblock %}
    </p>
    <form method="POST">
        <label for="team">Select a team:</label>
        <select name="team" id="team">
            {% for team in teams %}
            <option value="{{ team }}" {% if team==selected_team %}selected{% endif %}>{{ team }}</option>
            {% endfor %}
        </select>
        <button type="submit">Analyze Team</button>
    </form>

    {% if selected_team %}
    <h2>Analysis for {{ selected_team }}</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>Total Points</th>
                    <th>Ovr Grade</th> 
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td>
                        {{ player.Player }}
                        <a href="#" class="info-icon" 
                        data-player-name="{{ player.Player }}" 
                        data-player-pos="{{ player.Pos }}"
                        data-player-headshot="{{ player.img }}" 
                        data-player-bye="{{ player.bye }}" 
                        data-player-ranking="{{ player.previous_performance }}" 
                        data-player-status="{{ player.status }}" 
                        data-player-injury="{{ player.injury }}" 
                        data-player-team="{{ player.team_abb }}" 
                        style="margin-left: 5px;">
                            <i class="fas fa-info-circle"></i> <!-- Font Awesome info icon -->
                        </a>
                    </td>
                    <td>{{player.team_abb}}</td>
                    <td>{{ player.Pos }}</td>
                    <td>{{ player.season_totals }}</td>
                    <td>{{ player.grade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  
    <button id="showStrengthsWeaknesses" class="btn btn-secondary">Show Strengths and Weaknesses</button>
    <div id="strengthsWeaknessesContainer" style="display: none;">
        <button id="closeStrengthsWeaknesses" class="btn btn-danger">Close</button>
        <h2>Greatest Strength:</h2>
        <h3>{{ strengths }} ({{ strengths_grade }})</h3>
        <h2>Greatest Weakness:</h2>
        <h3>{{ weaknesses }} ({{ weaknesses_grade }})</h3>
    </div>

    {% if ideal_lineup %}
    <button id="findOptimalLineup" class="btn btn-primary">Find Optimal Lineup</button>
    <div id="optimalLineupContainer" style="display: none;">
        <button id="closeOptimalLineup" class="btn btn-danger">Close</button>
        <h2>Optimal Lineup for Week 11</h2>
        <ul style="list-style-type: none; padding: 0;">
            <ul style="font-size: 1.2em; margin: 10px 0;"><strong>QB:</strong> {{ ideal_lineup.QB }}</ul>
            <ul style="font-size: 1.2em; margin: 10px 0;"><strong>RB:</strong> {{ ideal_lineup.RB1 }}</ul>
            <ul style="font-size: 1.2em; margin: 10px 0;"><strong>RB:</strong> {{ ideal_lineup.RB2 }}</ul>
            <ul style="font-size: 1.2em; margin: 10px 0;"><strong>WR:</strong> {{ ideal_lineup.WR1 }}</ul>
            <ul style="font-size: 1.2em; margin: 10px 0;"><strong>WR:</strong> {{ ideal_lineup.WR2 }}</ul>
            <ul style="font-size: 1.2em; margin: 10px 0;"><strong>TE:</strong> {{ ideal_lineup.TE }}</ul>
            <ul style="font-size: 1.2em; margin: 10px 0;"><strong>FLEX:</strong> {{ ideal_lineup.FLEX }}</ul>
            <ul style="font-size: 1.2em; margin: 10px 0;"><strong>K:</strong> {{ ideal_lineup.K }}</ul>
            <ul style="font-size: 1.2em; margin: 10px 0;"><strong>DST:</strong> {{ ideal_lineup.DST }}</ul>
        </ul>
    </div>
    {% endif %}

    {% endif %}

    
    
</div>


<!-- Font Awesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- JavaScript for Info Icon Click Event -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Handle info icon click
        $('.info-icon').on('click', function(event) {
            event.preventDefault();  // Prevent default link behavior

            // Populate the dashboard with player name and placeholder data
            const playerName = $(this).data('player-name');
            const playerPos = $(this).data('player-pos');
            const playerHeadshot = $(this).data('player-headshot');
            const playerTeam = $(this).data('player-team');
            const playerBye = $(this).data('player-bye');
            const playerRanking = $(this).data('player-ranking');
            const playerStatus = $(this).data('player-status');
            const playerInjury = $(this).data('player-injury') || 'N/A';

            // Populate the dashboard with player data
            document.getElementById("dashboardPlayerName").innerText = playerName;
            document.getElementById("dashboardPlayerPosition").innerText = playerPos;
            document.getElementById("playerHeadshot").src = playerHeadshot;
            document.getElementById("playerTeam").innerText = playerTeam;
            document.getElementById("byeWeek").innerText = playerBye;
            document.getElementById("playerRanking").innerText = playerRanking;
            document.getElementById("injury").innerText =  playerInjury;

            // Display the modal
            $('#playerDashboard').show();
        });

        // Close the dashboard when the close icon is clicked
        $('#closeDashboard').on('click', function() {
            $('#playerDashboard').hide();
        });

        document.getElementById("findOptimalLineup").addEventListener("click", function() {
            document.getElementById("optimalLineupContainer").style.display = "block";
        });

        document.getElementById("showStrengthsWeaknesses").addEventListener("click", function() {
            document.getElementById("strengthsWeaknessesContainer").style.display = "block";
        });

        document.getElementById("closeOptimalLineup").addEventListener("click", function() {
            document.getElementById("optimalLineupContainer").style.display = "none";
        });

        document.getElementById("closeStrengthsWeaknesses").addEventListener("click", function() {
            document.getElementById("strengthsWeaknessesContainer").style.display = "none";
        });

        // Close the dashboard when clicking outside of the modal content
        $(window).on('click', function(event) {
            if ($(event.target).is('#playerDashboard')) {
                $('#playerDashboard').hide();
            }
        });
        
    });
</script>

{% endblock %}

