{% extends "base.html" %}

{% block title %}Trade Builder - Yahoo Fantasy Football MVP{% endblock %}

{% block content %}
<div class="container">
    <h1>Trade Builder</h1>
    <form method="POST" id="tradeForm">
        <label for="team1">Select team 1:</label>
        <select name="team1" id="team1">
            {% for team in teams %}
                <option value="{{ team }}" {% if team == request.form.team1 %}selected{% endif %}>{{ team }}</option>
            {% endfor %}
        </select>

        <label for="team2">Select team 2:</label>
        <select name="team2" id="team2">
            {% for team in teams %}
                <option value="{{ team }}" {% if team == request.form.team2 %}selected{% endif %}>{{ team }}</option>
            {% endfor %}
        </select>

        <button type="submit">Get Rosters</button>
    </form>

    {% if team1_roster and team2_roster %}
        <h2>Trade Builder</h2>
        <form method="POST" id="playerSelectionForm">
            <div class="team-container">
                <h3>{{ request.form.team1 }}</h3>
                <div class="team1-players-container">
                    <label for="team1_player">Player(s) to trade from {{ request.form.team1 }}:</label>
                    <div class="team1_player_container">
                        <select name="team1_player[]" class="team1_player">
                            {% for player in team1_roster %}
                                <option value="{{ player[0] }}"
                                data-player-name="{{ player.Player }}" 
                                data-player-pos="{{ player.Pos }}"
                                data-player-headshot="{{ player.img }}" 
                                data-player-bye="{{ player.bye }}" 
                                data-player-ranking="{{ player.previous_performance }}" 
                                data-player-status="{{ player.status }}" 
                                data-player-injury="{{ player.injury }}" 
                                data-player-team="{{ player.team_abb }}">{{ player.Player }} ({{ player.Pos }})</option>
                            {% endfor %}
                        </select>
                        <a href="#" class="info-icon" style="margin-left: 5px;">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <button type="button" class="remove-team1">Remove Player</button>
                    </div>
                    <button type="button" id="add-team1">Add Player</button>
                </div>
            </div>

            <div class="team-container">
                <h3>{{ request.form.team2 }}</h3>
                <div class="team2-players-container">
                    <label for="team2_player">Player(s) to trade from {{ request.form.team2 }}:</label>
                    <div class="team2_player_container">
                        <select name="team2_player[]" class="team2_player">
                            {% for player in team2_roster %}
                                <option value="{{ player[0] }}"
                                data-player-name="{{ player.Player }}" 
                                data-player-pos="{{ player.Pos }}"
                                data-player-headshot="{{ player.img }}" 
                                data-player-bye="{{ player.bye }}" 
                                data-player-ranking="{{ player.previous_performance }}" 
                                data-player-status="{{ player.status }}" 
                                data-player-injury="{{ player.injury }}" 
                                data-player-team="{{ player.team_abb }}">{{ player.Player }} ({{ player.Pos }})</option>
                            {% endfor %}
                        </select>
                        <a href="#" class="info-icon" style="margin-left: 5px;">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <button type="button" class="remove-team2">Remove Player</button>
                    </div>
                    <button type="button" id="add-team2">Add Player</button>
                </div>
            </div>
            <button id="proposetrade" type="submit">Propose Trade</button>
        </form>

        <div id="section3" style="display: none;"></div>
            <h2>Proposed Trade</h2>
            <div id="tradeDetails" class="trade-summary-card"></div>
            <button id="copybutton" type="button">Copy Trade Details</button>
            <button id="restartbutton" type="button">Restart Trade Builder</button>
        </div>
    {% endif %}
</div>

{% include "_player_info.html" %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<script>
$(document).ready(function() {
    $('#add-team1').click(function(event) {
        event.preventDefault();
        var newDropdown = `
            <div class="team1_player_container">
                <select name="team1_player[]" class="team1_player">
                    {% for player in team1_roster %}
                        <option value="{{ player[0] }}" data-player-name="{{ player.Player }}" data-player-pos="{{ player.Pos }}" data-player-headshot="{{ player.img }}" data-player-bye="{{ player.bye }}" data-player-ranking="{{ player.previous_performance }}" data-player-status="{{ player.status }}" data-player-injury="{{ player.injury }}" data-player-team="{{ player.team_abb }}">{{ player.Player }} ({{ player.Pos }})</option>
                    {% endfor %}
                </select>
                <a href="#" class="info-icon" style="margin-left: 5px;">
                    <i class="fas fa-info-circle"></i>
                </a>
                <button type="button" class="remove-team1">Remove Player</button>
            </div>
        `;
        $('.team1-players-container').append(newDropdown);
    });

    $('.team1-players-container').on('click', '.remove-team1', function(event) {
        event.preventDefault();
        $(this).closest('.team1_player_container').remove();
    });

    $('#add-team2').click(function(event) {
        event.preventDefault();
        var newDropdown = `
            <div class="team2_player_container">
                <select name="team2_player[]" class="team2_player">
                    {% for player in team2_roster %}
                        <option value="{{ player[0] }}" data-player-name="{{ player.Player }}" data-player-pos="{{ player.Pos }}" data-player-headshot="{{ player.img }}" data-player-bye="{{ player.bye }}" data-player-ranking="{{ player.previous_performance }}" data-player-status="{{ player.status }}" data-player-injury="{{ player.injury }}" data-player-team="{{ player.team_abb }}">{{ player.Player }} ({{ player.Pos }})</option>
                    {% endfor %}
                </select>
                <a href="#" class="info-icon" style="margin-left: 5px;">
                    <i class="fas fa-info-circle"></i>
                </a>
                <button type="button" class="remove-team2">Remove Player</button>
            </div>
        `;
        $('.team2-players-container').append(newDropdown);
    });

    $('.team2-players-container').on('click', '.remove-team2', function(event) {
        event.preventDefault();
        $(this).closest('.team2_player_container').remove();
    });

    $('#proposetrade').click(function(event) {
        event.preventDefault();
        
        var team1Players = [];
        $('.team1_player').each(function() {
            team1Players.push($(this).find('option:selected').text());
        });

        var team2Players = [];
        $('.team2_player').each(function() {
            team2Players.push($(this).find('option:selected').text());
        });

        var tradeDetailsHtml = `
            <h3>Trade Proposal</h3>
            <p><strong>{{ request.form.team1 }} trades:</strong></p>
            <div style="text-align: center;">
                ${team1Players.map(player => `<div>${player}</div>`).join('')}
            </div>
            <p><strong>{{ request.form.team2 }} trades:</strong></p>
            <div style="text-align: center;">
                ${team2Players.map(player => `<div>${player}</div>`).join('')}
            </div>
        `;

        $('#tradeDetails').html(tradeDetailsHtml);
        $('#section3').show();
    });

    $('#restartbutton').click(function() {
        $('#section3').hide();
        $('#tradeDetails').empty();
        $('#playerSelectionForm').hide();
        $('#tradeForm')[0].reset();
        $('#section3').hide();
    });

    $('#copybutton').click(function() {
        var tradeDetails = $('#tradeDetails').text();
        navigator.clipboard.writeText(tradeDetails).then(function() {
            alert('Trade details copied to clipboard');
        }, function(err) {
            console.error('Could not copy text: ', err);
        });
    });

    // Handle info icon click
    $('.info-icon').on('click', function(event) {
        event.preventDefault();  // Prevent default link behavior

        // Retrieve data attributes
        const playerName = $(this).data('player-name') || 'Unknown Player';
        const playerPos = $(this).data('player-pos') || 'Position Unknown';
        const playerHeadshot = $(this).data('player-headshot') || 'path_to_headshot.jpg';
        const playerTeam = $(this).data('player-team') || 'Team Unknown';
        const playerBye = $(this).data('player-bye') || 'N/A';
        const playerRanking = $(this).data('player-ranking') || 'N/A';
        const playerStatus = $(this).data('player-status') || 'None';
        const playerInjury = $(this).data('player-injury') || 'None';

        // Populate the dashboard with player data
        document.getElementById("dashboardPlayerName").innerText = playerName;
        document.getElementById("dashboardPlayerPosition").innerText = playerPos;
        document.getElementById("playerHeadshot").src = playerHeadshot;
        document.getElementById("playerTeam").innerText = playerTeam;
        document.getElementById("byeWeek").innerText = playerBye;
        document.getElementById("playerRanking").innerText = playerRanking;
        if (playerStatus === 'None' && playerInjury === 'None') {
            document.getElementById("injury").innerText = "N/A";
        } else {
            document.getElementById("injury").innerText = playerStatus + ' - ' + playerInjury;
        }

        // Display the modal
        $('#playerDashboard').show();
    });

    // Close the dashboard when the close icon is clicked
    $('#closeDashboard').on('click', function() {
        $('#playerDashboard').hide();
    });

    // Close the dashboard when clicking outside of the modal content
    $(window).on('click', function(event) {
        if ($(event.target).is('#playerDashboard')) {
            $('#playerDashboard').hide();
        }
    });
});
</script>

{% endblock %}