# ignore .env
.env

.dockerignore
Dockerfile
# venv folder and all content
venv/

#ignore pycache
__pycache__/
*.pyc


../.DS_Store
cert.pem
.DS_Store
key.pem

#ignore data folder and all contents
data/

.vscode/
../.DS_Store
.DS_Store

flask_session/
