# ignore .env
.env

.dockerignore
Dockerfile
# venv folder and all content
venv/

#ignore pycache
__pycache__/
*.pyc


cert.pem
key.pem

#ignore data folder and all contents
data/

.vscode/

flask_session/

# ignore any pycache or .pyc files
__pycache__/
*.pyc


#ignore any .DS_Store files
.DS_Store

*/.DS_Store

*/__pycache__/

